html{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://photographylife.com/wp-content/uploads/2016/06/Mass.jpg);
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

header{
  display: flex;
  justify-content: space-between;
  color: white;
}
img{
  height: 50%;
  width: auto;
  margin: 50px;
}
img:hover{
  transform: scale(1.5);
}
h1{
  color: black;
  font-family: 'Cinzel', serif;
}

.Coming_Soon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Soon{
  text-align: center;
  font-size: 50px;
  color: white;
}

.Texte{
  text-align: center;
  color: antiquewhite
}

/* Dernière Box */

footer{
  display: flex;
  justify-content: space-between;
}

.Plus{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  color: white;
  margin: 30px;
  border-radius: 40%;
}

.Plus:hover{
  background-color: #A28C65;
  transition: 2s;
}
.b2:hover{
  color: black;
  font-size: 30px;

}




.Réseaux{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  border: 0px solid #515151;
  color: white;
  margin: 30px;
  border-radius: 40%;
  text-align: center;

}
.Réseaux:hover{
  background-color: #5D0000;
  transition: 2s;
}








/* Les Logos */
.fa1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fa {
  padding: 20px;
  width: auto;
  height: auto;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-facebook:hover{
  transform: scale(1.5);
}
.fa-twitter:hover{
  transform: scale(1.5);
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
